<div id="<%= dom_id cabin %>">
  <p>
    <strong>Name:</strong>
    <%= cabin.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= cabin.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= cabin.price %>
  </p>



</div>
