.header {
    background-color:#2e8b57;
}
.dropbutton{
    background-color: #4d4d4d !important;
}
.primary{
    color: #4d4d4d !important;
}

.secondary{
    color: #4d4d4d !important;
}

.forest{
    color:#2e8b57 !important;
}

.brown{
    color: #8b5e3c !important;
}
.lightc{
    color: #f5f5dc;
}
body {
    padding-top: 60px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



  
  .dancing-script-op {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    
  }
  .alert {
    position: absolute; /* or absolute, depending on your layout */
    top: 30px; /* Adjust top position as needed */
    
    z-index: 1050; /* Higher than the nav's z-index */
    
  }
  
 
  

  .text-image {
    position: relative;
  }
  
  .text-image h2 {
    font-weight: 700;
  }
  
  .text-image p {
    font-size: 1.25rem;
    color: #555;
  }
  
  .text-image .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .text-image .bg-light {
    background-color: #f8f9fa;
  }
  
  .text-image .rounded {
    border-radius: 0.5rem;
  }

  





  .text-image .image-wrapper {
    position: relative;
  }
  
  .text-image .base-image {
    display: block;
    max-width: 100%;
    height: auto;
    transform : rotate(5deg); /* Adjust rotation as needed */
  }
  
  .text-image .top-image {
    position: absolute;
    top: 0%; /* Adjust to move the image down */
    left: 95%; /* Adjust to move the image right */
    transform: rotate(-5deg); /* Adjust rotation as needed */
    max-width: 100%; /* Adjust size to only cover a corner */
    height: auto;
    z-index: 1; /* Ensure this image is above the base image */
  }
  
  
  .coonbg {
    background-image: url('tile_background.png'); /* Path to your large image */
    background-size: cover; /* Make sure the image covers the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-attachment: fixed; /* Optional: Fix the image in place as you scroll */
    height: 100vh; /* Adjust height if needed */
  }
  .coonbg-light{
    background-image: url('tile_background_light.png'); /* Path to your large image */
    background-size: cover; /* Make sure the image covers the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-attachment: fixed; /* Optional: Fix the image in place as you scroll */
    height: 100vh; /* Adjust height if needed */
  }