.header {
    background-color:#2e8b57;
}
.dropbutton{
    background-color: #4d4d4d !important;
}
.primary{
    color: #4d4d4d !important;
}

.secondary{
    color: #4d4d4d !important;
}

.forest{
    color:#2e8b57 !important;
}

.brown{
    color: #8b5e3c !important;
}
.lightc{
    color: #f5f5dc;
}
body {
    padding-top: 60px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



  
  .dancing-script-op {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    
  }

  .swiper {
    width: 100%;
    aspect-ratio: 1/1;
  }
  
  .swiper:hover {
    .swiper-button-next {
      display: block !important;
    }
  
    .swiper-button-prev {
      display: block !important; 
    }
  }
  
  .swiper-button-next {
    display: none !important;
    width: 28px !important;
    height: 28px !important;
    background-color: white;
    background-image: url('assets/next.svg') !important;
    border-radius: 50%;
    border-width: 4px;
    border-color: white;
    box-sizing: border-box;

  }
  
  .swiper-button-next::after {
    content: '' !important;
  }
  
  .swiper-button-prev {
    display: none !important;
    width: 28px !important;
    height: 28px !important;
    background-color: white;
    background-image: url('assets/prev.svg') !important;
    border-radius: 50%;
    border-width:4px;
    border-color: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  .swiper-button-prev::after {
    content: '' !important;
  }

  .img-test {

    object-fit: cover;
}