<footer class="bg-body-tertiary text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-body" href="https://github.com/macOS-M" target="_blank">macOS-M</a>
  </div>
</footer>

<style>
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  z-index:2;
}
body {
  min-height: 100vh;
  
  grid-template-rows: 1fr auto;
}
</style>