

<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
  <div class="container">
<%= link_to root_path do%>  <svg class="primary" version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="150" height="75" viewBox="0 0 253.000000 180.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,180.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M1905 1343 c-59 -14 -144 -51 -197 -85 l-59 -38 -72 26 c-64 24 -87
27 -202 28 -134 1 -171 -5 -323 -51 l-84 -25 -26 25 c-74 69 -173 107 -277
107 -60 0 -75 -3 -90 -20 -17 -19 -18 -27 -7 -105 17 -114 47 -190 98 -243
l43 -44 -34 -62 c-66 -121 -122 -342 -109 -428 6 -37 24 -54 24 -22 0 29 43
119 88 182 73 105 202 192 364 246 131 44 190 31 202 -46 3 -18 7 -130 10
-247 5 -192 4 -217 -11 -233 -9 -11 -17 -35 -17 -55 0 -28 7 -42 33 -65 29
-26 40 -29 73 -25 79 11 116 90 69 148 -18 22 -19 38 -15 234 6 247 8 265 35
293 30 33 92 29 205 -14 129 -48 205 -95 285 -174 66 -66 121 -160 135 -229 4
-17 11 -31 17 -31 6 0 8 31 5 83 -4 66 -13 102 -47 184 -23 56 -57 128 -76
160 -63 107 -62 96 -15 143 76 76 129 240 112 345 l-7 40 -55 2 c-30 0 -64 -1
-75 -4z"/>
<path d="M1013 672 c-142 -105 -203 -198 -203 -308 0 -33 5 -65 12 -72 7 -7
35 -12 63 -12 47 0 92 -8 142 -24 19 -6 23 -1 37 48 12 42 31 71 81 125 70 77
81 101 71 163 -13 82 -58 138 -110 138 -8 0 -50 -26 -93 -58z"/>
<path d="M1499 715 c-45 -24 -78 -121 -64 -185 4 -19 33 -61 71 -102 45 -49
68 -84 76 -114 l12 -44 113 0 c131 0 133 2 133 97 0 108 -58 195 -202 303 -84
63 -97 68 -139 45z"/>
<path d="M378 384 c-3 -3 -21 -7 -39 -9 -44 -6 -62 -26 -62 -72 1 -58 2 -63
17 -63 8 0 17 -12 20 -26 l7 -25 19 23 c19 24 24 20 32 -27 6 -38 36 -28 73
24 41 56 55 63 55 27 0 -66 28 -73 66 -16 31 47 41 49 54 15 5 -14 15 -25 23
-25 21 0 56 29 73 61 14 28 14 33 -1 55 -10 16 -25 24 -44 24 -15 0 -42 7 -60
16 -23 11 -36 13 -43 6 -7 -7 -18 -7 -34 0 -17 8 -31 8 -47 1 -16 -8 -25 -7
-35 3 -13 14 -63 19 -74 8z"/>
<path d="M2181 376 c-10 -11 -19 -13 -38 -5 -14 5 -35 7 -47 3 -11 -4 -37 -8
-56 -10 -113 -9 -147 -31 -128 -85 10 -29 55 -69 77 -69 6 0 16 11 21 25 13
34 23 32 54 -15 39 -59 66 -50 66 22 0 39 12 33 52 -27 40 -61 71 -68 76 -17
4 37 26 43 36 10 6 -23 7 -23 18 -3 6 11 19 28 28 37 16 15 17 25 11 95 -2 21
-44 41 -102 48 -43 5 -58 4 -68 -9z"/>
</g>
</svg> <%end%> 
<div class='mt-2'>
<h1 class='dancing-script-op text-deco'>Cozy Coon Cabins</h1>
</div>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
        <%= link_to cabins_path, class: "nav-link" do %>
          <i class="fa-solid fa-binoculars pe-2"></i>Explore
        <% end %>
        </li>

        <li class="nav-item">
          <a class="nav-link mx-2" href="#!"><i class="fas fa-bell pe-2"></i>Alerts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#!"><i class="fas fa-heart pe-2"></i>Trips</a>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item">
        <%= link_to destroy_user_session_path, data: { "turbo-method": :delete }, class: "nav-link" do %>
          <i class="fa-solid fa-sign-out-alt pe-2"></i>Log Out
          <% end %>
        </li>

        <%else%>
        <li class="nav-item">
        <%= link_to new_user_session_path, class: "nav-link" do %>
          <i class="fa-solid fa-sign-in-alt pe-2"></i>Log in
          <% end %>
        </li>

        <%end%>
      </ul>
    </div>
  </div>
</nav>

